<nav>
  <a class="logo" id="logo" routerLink="/">
    <img src="./../../assets/shared/audiophile.svg" alt="logo" />
  </a>
  <img
    src="./../../assets/shared/tablet/icon-hamburger.svg"
    alt="hamburger menu"
    class="hamburger"
    (click)="overlay = !overlay"
  />
  <div class="log-in-cart">
    <mat-icon
      matBadge="{{ badge.length }}"
      matBadgeColor="warn"
      class="cart"
      (click)="overlayCart = !overlayCart"
      (click)="getTotal()"
      routerLinkActive="active"
      >shopping_cart</mat-icon
    >
    <mat-icon class="log-in" routerLinkActive="active" routerLink="/log-in"
      >person</mat-icon
    >
    <mat-icon class="search-icon" routerLink="/search" routerLinkActive="active"
      >search
    </mat-icon>
  </div>
  <ul class="nav_menu hidden">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/headphones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Headphone</a
      >
    </li>
    <li>
      <a
        routerLink="/speakers"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Speakers</a
      >
    </li>
    <li>
      <a
        routerLink="/earphones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Earphones</a
      >
    </li>
  </ul>
  <div class="overlay" [class.overlay--active]="overlay">
    <p class="close" (click)="overlay = !overlay">&times;</p>
    <div class="overlay__content" (click)="overlay = !overlay">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        routerLink="/headphones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Headphone</a
      >
      <a
        routerLink="/speakers"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Speakers</a
      >
      <a
        routerLink="/earphones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Earphones</a
      >
    </div>
  </div>
  <div class="overlayCart" [class.overlayCart--active]="overlayCart">
    <div class="overlayCart__content">
      <div class="cart_remove">
        <h3>CART ({{ cartItemList.length }})</h3>
        <p class="closeCart" (click)="overlayCart = !overlayCart">&times;</p>
      </div>
      <div class="empty" *ngIf="cartItemList.length < 1">
        <mat-icon>shopping_bag</mat-icon>
        <p>Your cart is empty</p>
      </div>
      <ul class="shopping_bag">
        <li *ngFor="let item of cartItemList">
          <img src="{{ item.image.mobile }}" alt="image of the product" />
          <div>
            <h5>{{ item.name }}</h5>
            <h6>{{ item.price | currency }}</h6>
          </div>
          <button class="btn-qty">
            <span (click)="chooseQty('-', item)">-</span>{{ item.qty
            }}<span (click)="chooseQty('+', item)">+</span>
          </button>
        </li>
      </ul>
      <div class="total_cart">
        <h6>TOTAL</h6>
        <p>{{ total | currency }}</p>
        <button class="btn-checkout" routerLink="/checkout">CHECKOUT</button>
      </div>
    </div>
  </div>
</nav>
