@import "./../../../styles.scss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 3.2rem; //?
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);

  .hamburger,
  .cart,
  .logo {
    cursor: pointer;
  }
  .hamburger {
    order: 1;
  }

  .logo {
    order: 2;
    transform: translateY(0.2rem);
  }
  .log-in-cart {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.6rem;
    order: 3;
    color: $white-color;
  }
  .log-in {
    cursor: pointer;
  }
  .search-icon {
    cursor: pointer;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $black-color;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 1.5rem;
  font-size: 3.6rem;
  letter-spacing: 0.3rem;
  display: block;
  transition: color 0.3s ease 0s;
  color: $white-color;
  text-decoration: none;
}
.overlay a:hover {
  color: $light-orange;
}

.overlay .close {
  position: absolute;
  top: 2rem;
  right: 4.5rem;
  font-size: 6rem;
  color: #edf0f1;
  cursor: pointer;
}

.hidden {
  display: none;
}
//////////////
.overlayCart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: $grey-color;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlayCart--active {
  width: 90%;
}

.overlayCart__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: $black-color;
  .empty {
    text-align: center;
    width: 100%;
    mat-icon {
      width: 50px;
    }
    p {
      font-size: 1.6rem;
      color: $light-orange;

      font-weight: bold;
      margin: 1.6rem 1.6rem;
    }
  }
}

.overlayCart a {
  font-size: 3.6rem;
  letter-spacing: 0.3rem;
  display: block;
  transition: color 0.3s ease 0s;
  text-decoration: none;
}
.overlayCart a:hover {
  color: $light-orange;
}

.overlayCart .closeCart {
  font-size: 6rem;
  color: $black-color;
  padding: 1.6rem;
  cursor: pointer;
}
///////////////////
.cart_remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
  width: 100%;
  background-color: $white-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h3,
  button {
    padding: 1.6rem;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: grey;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.666);

    cursor: pointer;
  }
}
.shopping_bag {
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1.6rem;
    margin: 1.6rem 0;
    color: $black-color;

    img {
      max-width: 7rem;
      border-radius: 0.8rem;
    }
    h5 {
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: bold;
      text-align: left;
    }
    h6 {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 2.5rem;
      color: grey;
    }
    .btn-qty {
      background-color: $white-color;
      color: $black-color;
      font-weight: bold;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      border: none;
      padding: 1rem 1rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      span {
        color: gray;
        font-size: 1.6rem;
      }
    }
  }
}
.total_cart {
  margin-bottom: 1.6rem;
  width: 100%;
  background-color: $white-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h6 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: grey;
    padding: 1.6rem;
  }
  p {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.6rem;
  }
}
.btn-checkout {
  width: 100%;
  text-align: center;
  background-color: $light-orange;
  color: $white-color;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;

  border: none;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
}
button:hover {
  background-color: $salmon-color;
}

@media (min-width: 800px) {
  .logo {
    flex-grow: 0.9;
  }
  nav {
    margin: 0 5rem;
  }

  .overlayCart--active {
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }
  nav {
    margin: 0 20rem;
    gap: 3.2rem;
    justify-content: space-between;
  }
  .nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    order: 2;
    visibility: visible;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $white-color;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
        line-height: 2.5rem;
        text-transform: uppercase;
      }
      a:hover {
        color: $light-orange;
      }
    }
  }

  #logo {
    order: 1;
    flex-grow: 0;
    transform: translateX(-3rem);
  }

  .overlayCart--active {
    width: 25%;
  }
}
