<section class="nav">
  <app-header></app-header>
  <header>
    <h1>HEADPHONES</h1>
  </header>
</section>

<section class="headphones_list">
  <article class="headphone_1">
    <div class="image">
      <img [src]="data[3].image.desktop" alt="image of the product" />
    </div>
    <div class="details">
      <h3>NEW PRODUCT</h3>
      <h2>{{ data[3].name }}</h2>
      <p>
        {{ data[3].description }}
      </p>
      <button
        routerLink="/article"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="showArticle(data[3])"
      >
        SEE PRODUCT
      </button>
    </div>
  </article>
  <article class="headphone_2">
    <div class="image">
      <img [src]="data[1].image.desktop" alt="image of the product" />
    </div>
    <div class="details">
      <h3>NEW PRODUCT</h3>
      <h2>{{ data[1].name }}</h2>
      <p>
        {{ data[1].description }}
      </p>
      <button
        routerLink="/article"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="showArticle(data[1])"
      >
        SEE PRODUCT
      </button>
    </div>
  </article>
  <article class="headphone_3">
    <div class="image">
      <img [src]="data[2].image.desktop" alt="image of the product" />
    </div>
    <div class="details">
      <h3>NEW PRODUCT</h3>
      <h2>{{ data[2].name }}</h2>
      <p>
        {{ data[2].description }}
      </p>
      <button
        routerLink="/article"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="showArticle(data[2])"
      >
        SEE PRODUCT
      </button>
    </div>
  </article>
  <article class="headphone"></article>
</section>

<app-article-cards></app-article-cards>

<app-location-story></app-location-story>

<app-footer></app-footer>
