<footer>
  <p class="logo_footer">
    <img src="./../../../assets/shared/audiophile.svg" alt="logo" />
  </p>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="text-decoration: none"
        >HOME</a
      >
    </li>
    <li>
      <a
        routerLink="/headphones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="text-decoration: none"
        >HEADPHONES</a
      >
    </li>
    <li>
      <a
        routerLink="/speakers"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="text-decoration: none"
        >SPEAKERS</a
      >
    </li>
    <li>
      <a
        routerLink="/earphones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="text-decoration: none"
        >EARPHONES</a
      >
    </li>
  </ul>
  <p>
    Audiophile is an all in one stop to fulfill your audio needs. We're a small
    team of music lovers and sound specialists who are devoted to helping you
    get the most out of personal audio. Come and visit our demo facility - we’re
    open 7 days a week.
  </p>

  <p class="copyright">
    Made with
    <span><mat-icon style="color: #d87d4a">favorite</mat-icon></span> by
    Sebastian Ciofu
  </p>
  <div class="socials">
    <a href="https://github.com/SebastianCiofu">
      <img
        src="./../../../assets/shared/desktop/icons8-github (3).svg"
        alt="github"
      />
    </a>
    <a href="https://www.linkedin.com/in/sebastian-ciofu/">
      <img
        src="./../../../assets/shared/desktop/icons8-linkedin (1).svg"
        alt="linkedin"
      />
    </a>
  </div>
</footer>
