<section class="articles">
  <article
    class="headphones"
    routerLink="/headphones"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <picture class="article_image">
      <img src="./../../assets/home/mobile/Group 43.png " alt="headphones" />
    </picture>

    <h6>HEADPHONES</h6>
    <a style="text-decoration: none"
      >SHOP
      <span
        ><img
          src="./../../assets/home/mobile/Path 2.svg"
          alt="arrow_svg" /></span
    ></a>
  </article>
  <article
    class="speakers"
    routerLink="/speakers"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <img
      src="./../../assets/home/mobile/Group 42.png"
      alt="speakers"
      class="article_image"
    />
    <h6>SPEAKERS</h6>
    <a style="text-decoration: none"
      >SHOP
      <span
        ><img
          src="./../../assets/home/mobile/Path 2.svg"
          alt="arrow_svg" /></span
    ></a>
  </article>
  <article
    class="earphones"
    routerLink="/earphones"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <img
      src="./../../assets/home/mobile/Group 44.png"
      alt="earphones"
      class="article_image"
    />
    <h6>EARPHONES</h6>
    <a style="text-decoration: none"
      >SHOP
      <span
        ><img
          src="./../../assets/home/mobile/Path 2.svg"
          alt="arrow_svg" /></span
    ></a>
  </article>
</section>
