@import "./../../../styles.scss";

.nav {
  width: 100%;
  background-color: $black-color;
  color: $white-color;
}
.container {
  min-height: 100vh;

  section {
    margin: 3.2rem;
    .input-container {
      div {
        display: flex;
        align-items: flex-start;
      }
    }
    .sorting {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    input {
      font-size: 1.8rem;
      padding: 0.8rem 3.6rem;
      border: none;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      border-radius: 0.8rem;
    }
    select {
      font-size: 1.8rem;
      padding: 0.8rem 1.6rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: none;
      border-radius: 0.8rem;
      display: block;
      margin: 3.2rem;

      background-color: $white-color;
    }
    label {
      cursor: pointer;
    }
    mat-form-field {
      margin-left: 3.2rem;
      margin-top: 1.6rem;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
    }
    li {
      list-style: none;
      text-align: center;
      margin: 3.2rem;

      button,
      h2,
      p {
        margin: 1.6rem;
      }
      img {
        max-width: 100%;
      }
      button {
        background-color: $light-orange;
        color: $white-color;
        font-weight: bold;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        margin-bottom: 3.2rem;
        border: none;
        padding: 1.6rem 3.2rem;
        cursor: pointer;
      }
      button:hover {
        background-color: $salmon-color;
      }
      h2 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
  }
}
@media (min-width: 801px) {
  .container {
    section {
      .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .sorting {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
@media (min-width: 1025px) {
  .container {
    section {
      .input-container {
        margin: 0 10rem;
      }
      ul {
        li {
          img {
            max-width: 60%;
            object-fit: cover;
          }
        }
      }
      .list-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
